<img src="/public/img/banner.jpg" alt="">



<div class="ui very padded text container segment" style="margin-top: -35%; ">
    <%- include ('./partials/message') %>
    <h3>
        Esnaf Ol
    </h3>
    
    <form class="ui form" action="/users/signup" method="POST">
  
      <div class="field">
        <label>İsim</label>
        <input type="text" name="name" placeholder="İsim">
      </div>
      <div class="field">
        <label>Soyisim</label>
        <input type="text" name="surname" placeholder="Soyisim">
      </div>
      <div class="field">
        <label>Cinsiyet</label>
        <input type="text" name="gender" placeholder="Cinsiyet">
      </div>
      <div class="field">
        <label>Telefon Numarası</label>
        <input type="tel" id='phone'>
        <span id="valid-msg" class="hide success">✓ Valid</span>
        <span id="error-msg" class="hide error"></span>
      </div>

      <div class="mb-3" type="hidden">
        <div class="form-check" type="hidden"> 
          <input class="form-check-input" type="hidden" id="notAdmin" name="isShop" value="true" checked>
          <!-- <label class="form-check-label" for="notAdmin"  >Esnaf</label> -->
        </div>
      </div>
      


      <div class="field"  style="margin-top: -5%;">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email adresi">
      </div>
      
      <button class="ui button" type="submit">Kayıt Ol</button>
    </form>
  </div>
  
  <script src="/public/js/intlTelInput.js"></script>
  <script>
      const input = document.querySelector("#phone")
      const errorMsg = document.querySelector("#error-msg")
      const validMsg = document.querySelector("#valid-msg")
      
      const errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
  
      const iti = window.intlTelInput(input, {
          separateDialCode: true,
          autoPlaceholder: "aggressive",
          hiddenInput: "phonenumber",
          utilsScript: "/public/js/utils.js?1590403638580" // just for formatting/placeholders etc
      });
  
      var reset = function() {
        input.classList.remove("error");
        errorMsg.innerHTML = "";
        errorMsg.classList.add("hide");
        validMsg.classList.add("hide");
      };
  
      // on blur: validate
      input.addEventListener('blur', function() {
        reset();
        if (input.value.trim()) {
          if (iti.isValidNumber()) {
            validMsg.classList.remove("hide");
  
          } else {
            input.classList.add("error");
            
            var errorCode = iti.getValidationError();
            errorMsg.innerHTML = errorMap[errorCode];
            errorMsg.classList.remove("hide");
          }
        }
      });
  
      // on keyup / change flag: reset
      input.addEventListener('change', reset);
      input.addEventListener('keyup', reset);
  
  
      document.querySelector('.ui.form').addEventListener('submit', (e) => {
        if(!iti.isValidNumber()){
          e.preventDefault()
        }
      })
  </script> 